:root {
    --font-family-sans-serif: Helvetica, "Segoe UI", Arial, sans-serif;

    // Font Sizes
    --font-size-xl: 2rem; // 30px
    --font-size-lg: 1.333rem; // 20px
    --font-size-md: 1.2rem; // 18px
    --font-size-sm: 0.866rem; // 13px

    // Font Weights
    --font-weight-nav: 700;
    --font-weight-button: 700;
}

body {
    font-family: var(--font-family-sans-serif);
}

// Icons
@font-face {
    font-family: "test";
    src: url("https://dev.paul.zhdk.ch/pluginfile.php/1/theme_boost_union/customfonts/0/FontAwesome7Free-Solid.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

.fa {
    font-family: "test";
}

// Navigation
//// warning: styling main navigation and subnavitation
.navigation {
    .nav-link {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-nav);
    }
}

.primary-navigation .navigation .nav-link,
.navigation .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav,
.nav-tabs {
    gap: 20px;
}
