:root {
    --font-family-sans-serif: Helvetica, "Segoe UI", Arial, sans-serif;

    // Font Sizes
    --font-size-xl: 2rem; // 30px
    --font-size-lg: 1.333rem; // 20px
    --font-size-md: 1.2rem; // 18px
    --font-size-sm: 0.866rem; // 13px

    // Font Weights
    --font-weight-nav: 700;
    --font-weight-button: 700;

    // Colors
    --color-black: #000;
    --color-text: var(--color-black);
    --color-border: #f1f1f1;
    --color-border-input: #c7c7c7;

    // Gaps
    --gap-nav: 1.333rem;

    // Borders
    --border-width: 2px;

    // Border radius
    --border-radius: 0;
}

body {
    font-family: var(--font-family-sans-serif);
}

// Icons
@font-face {
    font-family: "test";
    src: url("https://dev.paul.zhdk.ch/pluginfile.php/1/theme_boost_union/customfonts/0/FontAwesome7Free-Solid.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

.fa {
    font-family: "test";
}

// Navigation
.navbar.fixed-top {
    border-bottom: var(--border-width) solid var(--color-border);
    height: calc(60px - var(--border-width));

    .divider {
        width: var(--border-width);
        background-color: var(--color-border);
        height: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-left: 0 !important;
    }
}

//// warning: styling main navigation and subnavitation
.navigation {
    .nav-link {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-nav);
    }
}

.primary-navigation .navigation .nav-link,
.navigation .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav,
.nav-tabs {
    gap: var(--gap-nav);
}

#usernavigation {
    &.navbar-nav {
        gap: calc(var(--gap-nav) / 2);
    }
}

.moremenu .nav-link {
    border-bottom-width: var(--border-width);

    &:hover,
    &:focus-visible,
    &.active:hover {
        background-color: transparent;
        border-bottom-color: var(--color-border-input);
    }
}

.nav-tabs {
    .nav-link &.active {
        color: var(--color-text);
    }
}

.secondary-navigation {
    .navigation {
        border-bottom: var(--border-width) solid var(--color-border);
    }
}

// Edit button
.editmode-switch-form {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-nav);
    padding-left: calc(var(--gap-nav) / 2);

    label {
        display: flex;
        align-items: center;
        margin-right: calc(var(--gap-nav) / 2) !important;
    }

    .custom-switch {
        display: flex;
    }

    .custom-control-label {
        &::before {
            border: var(--border-width) solid var(--color-border-input);
            width: 2.06rem;
        }

        &::after {
            top: calc(0.078125rem + 4px);
            left: calc(-2.6875rem + 4px);
            width: calc(1.25rem - 8px);
            height: calc(1.25rem - 8px);
            background-color: var(--color-border-input);
        }
    }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label {
    &::after {
        transform: translateX(0.866rem);
    }
}

// Dropdown
.dropdown-menu {
    border: var(--border-width) solid var(--color-border-input);
    border-radius: var(--border-radius);
    top: calc(100% - var(--border-width));
}

.dropdown-divider {
    border-top-width: var(--border-width);
}

// Focus
.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
.editor_atto_toolbar .atto_toolbar_row.focus,
.editor_atto_toolbar .atto_toolbar_row:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.btn-close.focus,
button.btn-close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus {
    box-shadow: none;
}

.aabtn:focus-visible,
.btn-link:focus-visible,
.nav-link:focus-visible,
.editor_atto_toolbar button:focus-visible,
.editor_atto_toolbar .atto_toolbar_row:focus-visible,
[role="button"]:focus-visible,
.list-group-item-action:focus-visible,
input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible,
input[type="file"]:focus-visible,
input[type="image"]:focus-visible,
.sr-only-focusable:focus-visible,
a.dropdown-toggle:focus-visible,
.moodle-dialogue-base .closebutton:focus-visible,
button.btn-close:focus-visible,
.form-autocomplete-selection:focus-visible,
[role="treeitem"]:not([aria-expanded="true"]):focus-visible {
    box-shadow: 0 0 0 0.2rem var(--color-black);
}

// Course Content Typography
.section-title {
    font-size: var(--font-size-xl) !important;
}

.section,
.activity-item,
.activity,
.hasbackground {
    border-radius: 0px !important;
}

.section,
.activity-item,
.activity {
    border: var(--border-width) solid var(--color-border) !important;
}

.course-section-summary-wrapper {
    gap: 0px !important;
}
.section .side.right {
    margin-top: 4px !important;
}

// Activity Container
.title-activity-container {
    display: flex;
    gap: var(--gap-nav);
}

.activityinstance {
    gap: 0px !important;
}

.activitytitle {
    height: 32px !important;
}
