// Global
/* :root {
    --font-family-sans-serif: $font-family;
} */

/* body {
    font-family: $font-family;
} */

// Icons
@font-face {
    font-family: "test";
    src: url("https://dev.paul.zhdk.ch/pluginfile.php/1/theme_boost_union/customfonts/0/FontAwesome7Free-Solid.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

.fa {
    font-family: "test";
}
/*
// Navigation
//// warning: styling main navigation and subnavitation
.navigation {
    .nav-link {
        font-size: $font-size-sm;
        font-weight: $font-weight-nav;
    }
}

.primary-navigation .navigation .nav-link,
.navigation .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav,
.nav-tabs {
    gap: 20px;
} */
