// Insert scss

// Font Family
$font-family: Helvetica, "Segoe UI", Arial, sans-serif;

// Font Sizes
$font-xl: 2rem; // 30px
$font-lg: 1.333rem; // 20px
$font-md: 1.2rem; // 18px
$font-sm: 0.866rem; // 13px
