// Insert scss

// Font Family
$font-family: Helvetica, "Segoe UI", Arial, sans-serif;

// Font Sizes
$font-size-xl: 2rem; // 30px
$font-size-lg: 1.333rem; // 20px
$font-size-md: 1.2rem; // 18px
$font-size-sm: 0.866rem; // 13px

// Font Weights
$font-weight-nav: 700;
$font-weight-button: 700;
